body {
	margin: 0;
}
img{
	display: block;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
#qzad {
	position: absolute;
	width: 320px;
	height: 150px;
	overflow: hidden;
	background-color: black;
	
	#top{
		position: absolute;
		right: 0;
		top:0;
		left:0;
		bottom:75px;
		overflow: hidden;
		
	}
	.intro{
		position: relative;
		width: 200px;
		margin: 15px auto 0;
		img{
			display: block;
			width: 100%;
		}
	}
	.image-holder{
		position: absolute;
		top:0;
		img{
			display: block;	
			position: absolute;
			top:0;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			opacity: 1;
			&.fadeOut {
			  -webkit-animation-name: fadeOut;
			  		animation-name: fadeOut;
			   -webkit-animation-duration: 3s;
				  animation-duration: 3s;
				  opacity: 0;
				  
			}
		}
		
		
		
	}
	#bottom{
		position: absolute;
		bottom:0;
		top:57px;
		left:0;
		right: 0;
		height: 75px;
		background: black url(../images/bg-circles.jpg) top right no-repeat;
		background-size: 101px;
		
		.cta{
			display: block;
			position: absolute;
			left:25px;
			top:65px;
			width: 193px;
			
			img{

				width: 100%;
			}
		}
		div{
			position: absolute;
			top:0;
			left:25px;

			&.head{
				width:160px;
				top:22px;
			}
			img{
				display: block;
				width: 100%;
			}
			&.partner{
				top:61px;
				left: 228px;
				width: 80px;
				
			}
			
		}
	}
}